@model Data.CreateGameModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GameModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameModel.Title" class="control-label"></label>
                <input asp-for="GameModel.Title" class="form-control" />
                <span asp-validation-for="GameModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameModel.ReleaseDate" class="control-label"></label>
                <input asp-for="GameModel.ReleaseDate" class="form-control" />
                <span asp-validation-for="GameModel.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameModel.Price" class="control-label"></label>
                <input asp-for="GameModel.Price" class="form-control" />
                <span asp-validation-for="GameModel.Price" class="text-danger"></span>
            </div>
            <label asp-for="GameModel.Genre.GenreName" class="control-label"></label>

            <div class="stateSection mb-5">
                @Html.DropDownList(
                         "GameModel.GenreId",
                         new SelectList(
                         Model.Genres.Select(x => new { Value = x.Id, Text = x.GenreName }),
                         "Value",
                         "Text"
                         )
                         )
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
